* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: linear-gradient(180deg, #2d2145 0%, #1b1533 100%);
  color: rgb(254, 249, 249);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 390px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.back-btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px;
}


h1 {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 40px;
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #3a2b5a;
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}


.password-field {
  position: relative;
}

.toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.forgot {
  display: block;
  text-align: right;
  color: #d7ff7e;
  text-decoration: none;
  font-size: 0.85rem;
  margin-bottom: 2rem;
}


.login-btn {
  width: 100%;
  background: white;
  color: #1b1533;
  border: none;
  padding: 1rem;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  transform: scale(1.03);
}


.signup-text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}

.signup-text a {
  color: #d7ff7e;
  font-weight: 600;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }

  .login-btn {
    font-size: 0.95rem;
  }
}
